body {
  background-color: #91b029;
}
.main-title {
  font-size: 8em;
  text-align: center;
  color: #37123C;
  margin-top: 2%;
}
.main-title-description {
  margin-top:-20px;
  text-align: center;
  color: #611C35;
}
p .byby {
  font-style: italic;
  font-weight: bold;
  color: #5B2333;
  font-size: 23px !important;
}
.ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
.solution {
  position: relative;
}
.solution_box {
  position: absolute;
  left: 60%;
  top:0;
  background-color: #ff8080;
}
.solution_box p {
  margin-bottom: -4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
