body {
  background-color: #91b029;
}
.main-title {
  font-size: 8em;
  text-align: center;
  color: #37123C;
  margin-top: 2%;
}
.main-title-description {
  margin-top:-20px;
  text-align: center;
  color: #611C35;
}
p .byby {
  font-style: italic;
  font-weight: bold;
  color: #5B2333;
  font-size: 23px !important;
}
.ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
#solution_box {
  margin: auto;
  width: 40%;
  float : right;
  margin-top: -5%;
  margin-bottom: 10%;
  margin-right: 5px;
  background-color: #ff8080;
}
#solution_box p {
  margin-bottom: -4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
